# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

*.swp
.DS_Store
build/

# LSP & IDE
/.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*
*.kdev4
/CMakeLists.txt.user
