# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application
TryExec=qmlkonsole
Exec=qmlkonsole
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
X-KDE-AuthorizeAction=shell_access

Name=Terminal
Name[ca]=Terminal
Name[ca@valencia]=Terminal
Name[cs]=Terminál
Name[de]=Terminal
Name[en_GB]=Terminal
Name[es]=Terminal
Name[eu]=Terminala
Name[fr]=Console
Name[hi]=टर्मिनल
Name[hu]=Terminál
Name[it]=Terminale
Name[ko]=터미널
Name[lt]=Terminalas
Name[nl]=Terminal
Name[nn]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sv]=Terminal
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[x-test]=xxTerminalxx
Name[zh_CN]=终端
GenericName=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cs]=Terminál
GenericName[de]=Terminal
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[eu]=Terminala
GenericName[fr]=Console
GenericName[hi]=टर्मिनल
GenericName[hu]=Terminál
GenericName[it]=Terminale
GenericName[ko]=터미널
GenericName[lt]=Terminalas
GenericName[nl]=Terminal
GenericName[nn]=Terminal
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sv]=Terminal
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[x-test]=xxTerminalxx
GenericName[zh_CN]=终端
