# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application
Exec=qmlkonsole
Icon=org.kde.qmlkonsole
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
X-KDE-FormFactor=desktop;tablet;handset;
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt
Keywords[ca]=terminal;consola;script;executar;ordre;línia d'ordres;línia ordres;cli;bash;sh;shell;zsh;cmd;indicador d'ordres
Keywords[ca@valencia]=terminal;consola;script;executar;ordre;línia d'ordres;línia ordres;cli;bash;sh;shell;zsh;cmd;indicatiu d'ordres
Keywords[de]=Terminal;Konsole;Skript;ausführen;Befehl;Befehlszeile;Befehlseingabe
Keywords[en_GB]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt
Keywords[eo]=terminalo;konzolo;skripto;ruli;efektivigi;komando;komandlinio;kli;bash;sh;ŝelo;zsh;cmd;komandinvito
Keywords[es]=terminal;consola;guion;ejecutar;lanzar;orden;comando;línea de órdenes;línea de comandos;bash;sh;shell;intérprete;intérprete de órdenes;zsh;orden;introducción de órdenes;introducción de comandos
Keywords[eu]=terminala;kontsola;gidoia;script;ibili;exekutatu;komandoa;komando-lerroa;komandolerroa;cli;bash;sh;oskola;shell;zsh;cmd;komando-gonbita
Keywords[fi]=pääte;konsoli;skripti;aja;suorita;komento;komentorivi;cli;bash;sh;shell;kuori;zsh;cmd;komentokehote
Keywords[fr]=terminal ; console ; script ; exécuter  ; lancer ; commande ; ligne de commandes ; ligne de commande ; cl i; bash ; sh ; shell ; zsh ; cmd ; invite de commandes
Keywords[gl]=terminal;consola;script;executar;orde;comando;liña de ordes;liña de comandos;cli;bash;sh;shell;intérprete de ordes;intérprete;zsh;cmd
Keywords[ia]=terminal;console;script;run;executa;commando;linea-de-commando;lineadecommando;cli;bash;sh;shell;zsh;cmd;command prompt
Keywords[it]=terminale;console;script;esegui;comando;riga di comando;cli;bash;sh;shell;zsh;cmd;prompt dei comandi
Keywords[ka]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt
Keywords[ko]=터미널;콘솔;스크립트;실행;명령;명령행;셸;명령 프롬프트
Keywords[nl]=terminal;console;script;run;uitvoeren;commando;commandoregel;cli;bash;sh;shell;zsh;cmd;commando-prompt
Keywords[nn]=terminal;konsoll;skript;køyr;utfør;kommando;kommandolinje;cli;bash;sh;shell;skal;zsh;cmd;leietekst
Keywords[pl]=terminal;konsola;skrypt;uruchom;wykonaj;polecenie;wiersz poleceń;wiersz poleceń;cli;bash;sh;powłoka;zsh;cmd;wiersz poleceń
Keywords[pt]=terminal;consola;programa;executar;comando;linha de comandos;cli;bash;sh;shell;zsh
Keywords[pt_BR]=terminal;console;script;rodar;executar;comando;linha de comando;cli;bash;sh;shell;zsh;cmd;prompt de comando;prompt
Keywords[ru]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;терминал;консоль;сценарий;запустить;выполнить;команда;командная строка;оболочка
Keywords[sl]=terminal;console;script;zagon;poženi;ukaz;ukazna vrstica;commandline;cli;bash;sh;shell;zsh;cmd;poziv ukaza
Keywords[sv]=terminal;konsoll;skript;köra;kommando;kommandorad;bash;sh;skal;zsh;cmd;kommandoprompt
Keywords[ta]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;முனையம்;கட்டளை;ஆணை;கான்சோல்;கான்ஸோல்;நிரல;சிறுநிரல்;இயக்கு;கட்டளை வரி
Keywords[tr]=terminal;uçbirim;konsol;betik;çalıştır;yürüt;komut;komut satırı;komutsatırı;cli;bash;sh;shell;zsh;cmd;komut istemi
Keywords[uk]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;термінал;консоль;скрипт;сценарій;виконати;запустити;команда;командний рядок;клі;командний інтерфейс;баш;оболонка;шел;зш;кмд;командний запит
Keywords[x-test]=xxterminalxx;xxconsolexx;xxscriptxx;xxrunxx;xxexecutexx;xxcommandxx;xxcommand-linexx;xxcommandlinexx;xxclixx;xxbashxx;xxshxx;xxshellxx;xxzshxx;xxcmdxx;xxcommand promptxx
Keywords[zh_CN]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;终端;控制台;脚本;执行;运行;命令;命令行;命令行界面;外壳;命令行提示;zhongduan;kongzhitai;jiaoben;zhixing;yunxing;mingling;minglinghang;minglinghangjiemian;waike;minglinghangtishi
Keywords[zh_TW]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;指令;命令;主控台

Name=Terminal
Name[ast]=Terminal
Name[ca]=Terminal
Name[ca@valencia]=Terminal
Name[cs]=Terminál
Name[de]=Terminal
Name[en_GB]=Terminal
Name[eo]=Terminalo
Name[es]=Terminal
Name[eu]=Terminala
Name[fi]=Pääte
Name[fr]=Console
Name[gl]=Terminal
Name[hi]=टर्मिनल
Name[hu]=Terminál
Name[ia]=Terminal
Name[it]=Terminale
Name[ka]=ტერმინალი
Name[ko]=터미널
Name[lt]=Terminalas
Name[nl]=Terminal
Name[nn]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sv]=Terminal
Name[ta]=முனையம்
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[x-test]=xxTerminalxx
Name[zh_CN]=终端
Name[zh_TW]=終端機
GenericName=Terminal
GenericName[ast]=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cs]=Terminál
GenericName[de]=Terminal
GenericName[en_GB]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal
GenericName[eu]=Terminala
GenericName[fi]=Pääte
GenericName[fr]=Console
GenericName[gl]=Terminal
GenericName[hi]=टर्मिनल
GenericName[hu]=Terminál
GenericName[ia]=Terminal
GenericName[it]=Terminale
GenericName[ka]=ტერმინალი
GenericName[ko]=터미널
GenericName[lt]=Terminalas
GenericName[nl]=Terminal
GenericName[nn]=Terminal
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[x-test]=xxTerminalxx
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機

Comment=Command line access
Comment[ca]=Accés a la línia d'ordres
Comment[ca@valencia]=Accés a la línia d'ordres
Comment[cs]=Přístup k příkazové řádce
Comment[de]=Zugriff auf die Befehlszeile
Comment[en_GB]=Command line access
Comment[eo]=Komandlinia aliro
Comment[es]=Acceso a la línea de órdenes
Comment[eu]=Komando-lerroko sarbidea
Comment[fi]=Pääsy komentoriville
Comment[fr]=Accès par ligne de commandes
Comment[gl]=Acceso á liña de ordes.
Comment[ia]=Accesso a linea de commando
Comment[it]=Accesso alla riga di comando
Comment[ka]=ბრძანების სტრიქონთან წვდომა
Comment[ko]=명령행 접근
Comment[nl]=Toegang tot de opdrachtregel
Comment[nn]=Kommandolinjetilgang
Comment[pl]=Dostęp do wiersza poleceń
Comment[pt]=Acesso à linha de comandos
Comment[pt_BR]=Acesso à linha de comandos
Comment[ru]=Доступ к командной строке
Comment[sl]=Dostop do ukazne vrstice
Comment[sv]=Åtkomst till kommandorad
Comment[ta]=கட்டளை வரியை அணுக உதவும்
Comment[tr]=Komut satırı erişimi
Comment[uk]=Доступ до командного рядка
Comment[x-test]=xxCommand line accessxx
Comment[zh_CN]=命令行访问
Comment[zh_TW]=存取指令列
