[Desktop Entry]
Type=Application
TryExec=qmlkonsole
Exec=qmlkonsole
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
X-KDE-AuthorizeAction=shell_access

Name=Terminal
Name[ca]=Terminal
Name[nl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[sk]=Terminál
Name[uk]=Термінал
Name[x-test]=xxTerminalxx
GenericName=Terminal
GenericName[ca]=Terminal
GenericName[nl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[sk]=Terminál
GenericName[uk]=Термінал
GenericName[x-test]=xxTerminalxx
